@{
    ViewBag.Title = "Principal";
    List<Business.Pagina> paginas = ViewBag.Paginas;
}

<div class="jumbotron">
    <h1>Cadastrar páginas</h1>
    <div>
        <a href="/paginas" class="btn btn-default">Ir para o cadastro de páginas</a>
    </div>
</div>